[run]

include =
    D:/local_dev/cloudRunClassifier/app.py
    D:/local_dev/cloudRunClassifier/kafka_interface.py
    D:/local_dev/cloudRunClassifier/exceptions.py
    D:/local_dev/cloudRunClassifier/inference.py
